@import url('https://fonts.googleapis.com/css?family=Lemonada');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lemonada', cursive;
    background: url('../images/2.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

#completed-tasks span {
    text-decoration: line-through;
    font-size: 1.2em;
}

.mdl-textfield {
    width: 100%;
}

.mdl-button {
    margin-top: 20px;
}

.mdl-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.mdl-list__item:last-child {
    border-bottom: none;
}

.mdl-checkbox__label {
    flex: 1;
    margin-left: 10px;
}

.mdl-button--fab {
    align-self: flex-end;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    .mdl-list__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .mdl-button--fab {
        align-self: center;
    }
}
